[submodule "Blog"]
	path = Blog
	url = https://github.com/jerusalemdax/Blog.git
	branch = master
[submodule "Game/Client/Unity4/Source"]
	path = Game/Client/Unity4/Source
	url = https://github.com/jerusalemdax/Unity4Client.git
	branch = master
[submodule "Game/Client/UE4/Source"]
	path = Game/Client/UE4/Source
	url = https://github.com/jerusalemdax/UE4Client.git
	branch = master
[submodule "Game/Client/Unity5/Source"]
	path = Game/Client/Unity5/Source
	url = https://github.com/jerusalemdax/Unity5Client.git
	branch = master
